{
    "openapi": "3.1.0",
    "info": {
        "title": "AngusAI RESTful APIs Documentation",
        "description": "## API Specification\nAngusAI is built on **RESTful design principles** and strictly adheres to the [OpenAPI 3.0](https://swagger.io/specification/v3/) specification format.\n### 1. Protocol Specification\n- **Mandatory HTTPS Usage**  \n  APIs are always served over HTTPS to ensure secure data transmission.  \n  > **Note**: Private deployment customers may not have security certificates configured and require separate handling.\n\n- **API Version Management**  \n  Version numbers are embedded in URL paths:  \n  ```\n  /api/v1/resource\n  /api/v2/resource\n  ```\n\n### 2. Resource Naming Convention\n- Uniformly use **lowercase letters** or **lower camel case naming**   - Examples:  \n  ```\n  /user\n  /productCategories\n  /orderItems\n  ```\n\n### 3. HTTP Method Specification\n  | Method      | Description                              | Success Code | Example                   |\n  |-------------|------------------------------------------|--------------|---------------------------|\n  | **GET**     | Retrieve resources                       | 200          | `GET /users`              |\n  | **POST**    | Create resources                         | 201          | `POST /users`             |\n  | **PUT**     | Replace entire resource (create if absent)| 200          | `PUT /users/{id}`         |\n  | **PATCH**   | Partial resource update                  | 200          | `PATCH /users/{id}`       |\n  | **DELETE**  | Delete resources                         | 204          | `DELETE /users/{id}`      |\n\n**Special Operation Patterns** - Use verbs/adjectives for granular operations:  \n  ```\n  PATCH /users/{id}/enabled   # Enable user\n  POST /orders/{id}/cancel    # Cancel order\n  ```\n\n### 4. Security Authentication\n**OAuth 2.0 Authentication** - Protected resources require authentication header:  \n``` Authorization: Bearer <access_token> ```\n### 5. Request Parameter Specification\n#### Request Headers\n  ```\n  Content-Type: application/json\n  Accept: application/json\n  Authorization: Bearer xxxxxxxxxxxx\n  ```\n\n#### Query Parameters\n  | Parameter Type | Format Example                      | Description          |\n  |----------------|-------------------------------------|----------------------|\n  | Pagination     | `?pageNo=2&pageSize=20`             | Page number and size |\n  | Sorting        | `?orderBy=createdDate&orderSort=DESC` | Sort field and direction |\n  | Filtering      | `?status=active&role=admin`         | Field filters        |\n\n#### Request Body (JSON)\n  ```json\n  {\n    \"name\": \"John Doe\",\n    \"email\": \"john@example.com\",\n    \"role\": \"member\",\n    \"preferences\": {\n      \"notifications\": true,\n      \"theme\": \"dark\"\n    }\n  }\n  ```\n\n### 6. Response Specification\n#### Status Codes\n  | Code | Meaning                          |\n  |------|----------------------------------|\n  | 200  | OK - Request succeeded           |\n  | 201  | Created - Resource created       |\n  | 204  | No Content - Success, no content |\n  | 400  | Bad Request - Client error       |\n  | 401  | Unauthorized - Not authenticated |\n  | 403  | Forbidden - Access denied        |\n  | 404  | Not Found - Resource not exist   |\n  | 429  | Too Many Requests - Rate limited |\n  | 500  | Internal Server Error - Server failure |\n\n#### Response Body Structure\n  ```json\n  {\n    \"code\": \"S\",\n    \"msg\": \"Operation succeeded\",\n    \"data\": {\n      \"total\": 42,\n      \"list\": [\n        {\n          \"id\": \"301222970049691648\",\n          \"username\": \"U20250628001287\",\n          \"email\": \"user@example.com\"\n        }\n      ]\n    },\n    \"datetime\": \"2025-06-15 14:49:56\",\n    \"ext\": {}\n  }\n  ```\n\n## Quick Start Guide\n### 1. Obtaining Access Tokens\n#### System Access Token\n  **Use Case**: System-to-system integration  \n  **Acquisition Process**:\n  1. Log in to AngusGM application\n  2. Navigate to: **System** → **System Tokens**\n  3. Create new token:\n     - Enter token name\n     - Set permission scope\n     - Configure expiration time\n  4. Click **Create Token** to generate new credentials\n\n  > **Note**: System tokens have full API permissions without data restrictions.\n\n#### User Access Token\n  **Use Case**: User-level API operations  \n  **Acquisition Process**:\n  1. Log in to AngusGM application\n  2. Access: **User Profile** → **Access Tokens**\n  3. Create new token:\n     - Verify user password\n     - Set token name\n     - Configure validity period\n  4. Click **Create Token** to generate credentials\n\n  > **Note**: User tokens inherit the user's API permissions and data access rights.\n\n### 2. API Service Endpoints\n  | Deployment Type   | Service Endpoint                     |\n  |-------------------|--------------------------------------|\n  | SaaS Cloud Edition| `https://bj-c1-prod-apis.xcan.cloud/ai` |\n  | Private Deployment| `http://AI_HOST:AI_PORT` (default)   |\n  |                   | Or configured via `AI_APIS_URL_PREFIX` |\n\n### 3. API Call Example\n  ```bash\n  curl -i 'https://bj-c1-prod-apis.xcan.cloud/ai/api/v1/task/search?pageNo=1&pageSize=10' \\\n    -H 'Accept: application/json'\n    -H 'Authorization: Bearer 7RProMAjgCr40gMgrsnRROvMXHrXrDrzwqo7ti1V2ZXc6bjoWvVEOTkjbQnLAxMTi5fJrnET' \n  ```\n\n**Response Example**:\n  ```http\n  HTTP/1.1 200 OK\n  Date: Sun, 15 Jun 2025 06:49:56 GMT\n  Content-Type: application/json\n  XC-Request-Id: 34acb65c2c484188a2f9f3a3f4ca3d1f\n\n  {\n    \"code\": \"S\",\n    \"msg\": \"Success\",\n    \"data\": {\n      \"total\": \"1\",\n      \"list\": [\n        {\n          \"id\": \"301222970049691648\",\n          \"code\": \"AT00000016\",\n          \"name\": \"A Task\"\n        }\n      ]\n    },\n    \"datetime\": \"2025-06-15 14:49:56\"\n  }\n  ```\n",
        "contact": {
            "url": "https://www.xcan.cloud",
            "email": "technical_support@xcan.cloud"
        },
        "license": {
            "name": "GPL-3.0",
            "url": "https://github.com/xcancloud/AngusAI/blob/main/LICENSE"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://bj-c1-prod-apis.xcan.cloud/ai",
            "description": "AngusAI Cloud Service API Endpoint",
            "notEmptyContent": true,
            "emptyContent": false
        },
        {
            "url": "http://192.168.3.7:1530",
            "notEmptyContent": true,
            "emptyContent": false
        }
    ],
    "security": [
        {
            "UserHttpBearer": []
        }
    ],
    "tags": [
        {
            "name": "API Keys",
            "description": "API密钥管理 - 密钥的创建、管理、吊销、刷新等功能"
        },
        {
            "name": "Activity",
            "description": "User Activity Management - APIs for querying user activity logs with filtering and pagination support"
        },
        {
            "name": "Analytics",
            "description": "使用分析 - API使用统计、性能分析、趋势图表等功能"
        },
        {
            "name": "Application",
            "description": "应用管理 - 应用的创建、编辑、删除、配置、发布等功能"
        },
        {
            "name": "Dataset",
            "description": "数据集管理 - 数据集的创建、管理、数据导入、数据源连接等功能"
        },
        {
            "name": "KnowledgeBase",
            "description": "知识库管理 - 知识库的创建、编辑、删除、文档管理等功能"
        },
        {
            "name": "KnowledgeBaseDoc",
            "description": "文档管理 - 文档的上传、编辑、删除、状态管理等功能"
        },
        {
            "name": "Model",
            "description": "模型管理 - 模型的添加、配置、启动、停止、监控等功能"
        },
        {
            "name": "Plugin",
            "description": "插件管理 - 插件的创建、安装、配置、使用等功能"
        },
        {
            "name": "PluginReview",
            "description": "插件评级 - 新增评级与查询评级记录（不分页）"
        },
        {
            "name": "Prompt",
            "description": "提示词管理 - 提示词的创建、管理、搜索、收藏等功能"
        },
        {
            "name": "Prompt Category",
            "description": "提示词分类管理 - 分类的创建、管理、排序等功能"
        },
        {
            "name": "Resource Sharing",
            "description": "资源共享管理 - 团队资源共享、权限控制、访问统计。注意：资源可访问性由资源可见性和资源共享两种方式控制"
        },
        {
            "name": "Workflow",
            "description": "工作流管理 - 工作流的创建、编辑、执行、监控等功能"
        },
        {
            "name": "团队设置",
            "description": "团队配置信息维护"
        },
        {
            "name": "对话会话",
            "description": "对话会话管理 - 会话创建、更新、删除、切换等功能"
        },
        {
            "name": "对话消息",
            "description": "对话消息管理 - 消息发送、接收、历史查询、反馈等功能"
        }
    ],
    "paths": {
        "/api/v1/workflows/{id}/visibility": {
            "put": {
                "tags": [
                    "Workflow"
                ],
                "summary": "修改工作流可见性",
                "description": "修改工作流可见性",
                "operationId": "modifyWorkflowVisibility",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "数据集ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "visibility",
                        "in": "query",
                        "description": "可见性",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "PRIVATE",
                                "TEAM",
                                "PUBLIC"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultWorkflowDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/workflows/{id}/config": {
            "put": {
                "tags": [
                    "Workflow"
                ],
                "summary": "更新工作流配置",
                "description": "更新工作流的节点和配置",
                "operationId": "updateWorkflowConfig",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "工作流ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkflowConfigUpdateDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultWorkflowDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/team/settings": {
            "get": {
                "tags": [
                    "团队设置"
                ],
                "summary": "查询团队设置",
                "description": "查询完整团队设置信息",
                "operationId": "getTeamSettingsDetail",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultTeamSettingsVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "团队设置"
                ],
                "summary": "更新团队设置",
                "description": "更新完整团队设置信息",
                "operationId": "updateTeamSettings",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamSettingsDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultTeamSettingsVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/sharing/{id}/toggle": {
            "put": {
                "tags": [
                    "Resource Sharing"
                ],
                "summary": "切换资源共享状态",
                "description": "启用或停止资源共享",
                "operationId": "toggleResourceSharingStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "知识库ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResourceSharingToggleDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultResourceSharingDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/sharing/resources/{id}": {
            "get": {
                "tags": [
                    "Resource Sharing"
                ],
                "summary": "获取共享详情",
                "description": "获取资源共享的详细信息",
                "operationId": "getResourceSharingDetail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "共享ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultResourceSharingDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "共享不存在",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Resource Sharing"
                ],
                "summary": "更新共享权限",
                "description": "更新资源共享配置",
                "operationId": "updateResourceSharing",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "共享ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResourceSharingUpdateDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultResourceSharingDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Resource Sharing"
                ],
                "summary": "取消资源共享",
                "description": "取消资源共享",
                "operationId": "deleteResourceSharing",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "共享ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "取消成功"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/plugins/{id}/status": {
            "put": {
                "tags": [
                    "Plugin"
                ],
                "summary": "修改插件状态",
                "description": "修改插件状态",
                "operationId": "modifyPluginStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "插件ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "插件状态",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ACTIVE",
                                "INACTIVE",
                                "UNINSTALLED",
                                "MAINTENANCE",
                                "DEPRECATED"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultPluginDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/models/{id}/config": {
            "put": {
                "tags": [
                    "Model"
                ],
                "summary": "更新模型配置",
                "description": "更新模型的详细配置",
                "operationId": "updateModelConfig",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "模型ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ModelConfig"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultModelDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/knowledge-bases/{id}/visibility": {
            "put": {
                "tags": [
                    "KnowledgeBase"
                ],
                "summary": "修改知识库可见性",
                "description": "修改知识库可见性",
                "operationId": "modifyKnowledgeBaseVisibility",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "知识库ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "visibility",
                        "in": "query",
                        "description": "可见性",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "PRIVATE",
                                "TEAM",
                                "PUBLIC"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultKnowledgeBaseDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/knowledge-bases/{id}/toggle": {
            "put": {
                "tags": [
                    "KnowledgeBase"
                ],
                "summary": "切换知识库状态",
                "description": "切换知识库的启用状态",
                "operationId": "toggleKnowledgeStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "知识库ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/KnowledgeBaseToggleDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultKnowledgeBaseDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/documents/{documentId}/knowledge-bases/{knowledgeBaseId}/toggle": {
            "put": {
                "tags": [
                    "KnowledgeBaseDoc"
                ],
                "summary": "切换文档状态",
                "description": "切换文档的启用状态",
                "operationId": "toggleDocument",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "文档ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "knowledgeBaseId",
                        "in": "path",
                        "description": "知识库ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/KnowledgeBaseDocToggleDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultKnowledgeBaseDocListVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/datasets/{id}/visibility": {
            "put": {
                "tags": [
                    "Dataset"
                ],
                "summary": "修改数据集可见性",
                "description": "修改数据集可见性",
                "operationId": "modifyDatasetVisibility",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "数据集ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "visibility",
                        "in": "query",
                        "description": "可见性",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "PRIVATE",
                                "TEAM",
                                "PUBLIC"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultDatasetDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/datasets/{id}/datasource": {
            "put": {
                "tags": [
                    "Dataset"
                ],
                "summary": "修改数据源",
                "description": "修改数据源配置",
                "operationId": "modifyDataSource",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "数据集ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DataSourceUpdateDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "数据源添加成功",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultDatasourceConfigVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Dataset"
                ],
                "summary": "删除数据源",
                "description": "删除数据源配置",
                "operationId": "deleteDataSource",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "数据集ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "删除成功"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/applications/{id}/status": {
            "put": {
                "tags": [
                    "Application"
                ],
                "summary": "修改应用状态",
                "description": "修改应用状态",
                "operationId": "modifyApplicationStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "应用ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "应用状态",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DRAFT",
                                "PUBLISHED",
                                "PAUSED"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultApplicationDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/applications/{id}/config": {
            "put": {
                "tags": [
                    "Application"
                ],
                "summary": "更新应用配置",
                "description": "更新应用的详细配置",
                "operationId": "updateApplicationConfig",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "应用ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApplicationConfig"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultApplicationDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/workflows": {
            "get": {
                "tags": [
                    "Workflow"
                ],
                "summary": "获取工作流列表",
                "description": "获取当前用户的工作流列表，支持分页、搜索和筛选",
                "operationId": "getWorkflowList",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "工作流名称",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "工作流名称",
                            "example": "用户注册流程"
                        },
                        "example": "用户注册流程"
                    },
                    {
                        "name": "iconBg",
                        "in": "query",
                        "description": "背景色",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "背景色",
                            "example": "bg-blue-500"
                        },
                        "example": "bg-blue-500"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "工作流类型",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "工作流类型",
                            "enum": [
                                "SINGLE_TASK",
                                "MULTI_TURN",
                                "SCHEDULED",
                                "EVENT_DRIVEN"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "工作流状态",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "工作流状态",
                            "enum": [
                                "DRAFT",
                                "RUNNING",
                                "STOPPED"
                            ]
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "query",
                        "description": "所属租户ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "所属租户ID",
                            "example": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "createdBy",
                        "in": "query",
                        "description": "创建人ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "创建人ID",
                            "example": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "createdDate",
                        "in": "query",
                        "description": "创建时间",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "description": "创建时间"
                        },
                        "example": "2024-10-12 00:00:00"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "排序字段",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "排序字段",
                            "enum": [
                                "id",
                                "createdDate",
                                "name",
                                "type",
                                "status"
                            ]
                        }
                    },
                    {
                        "name": "pageNo",
                        "in": "query",
                        "description": "Page number for paginated data (default: 1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Page number for paginated data (default: 1)",
                            "maximum": 100000,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of items per page (default: 10)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of items per page (default: 10)",
                            "maximum": 2000,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "orderSort",
                        "in": "query",
                        "description": "Specifies the direction of the sorting (ascending or descending)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Specifies the direction of the sorting (ascending or descending)",
                            "enum": [
                                "ASC",
                                "DESC"
                            ]
                        }
                    },
                    {
                        "name": "infoScope",
                        "in": "query",
                        "description": "Scope of information to query (BASIC or DETAIL). Interface performance optimization parameters, only valid for some interfaces",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Scope of information to query (BASIC or DETAIL). Interface performance optimization parameters, only valid for some interfaces",
                            "enum": [
                                "BASIC",
                                "DETAIL"
                            ]
                        }
                    },
                    {
                        "name": "fullTextSearch",
                        "in": "query",
                        "description": "Whether to use full-text search (default: false, uses DB index search if false)",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "Whether to use full-text search (default: false, uses DB index search if false)"
                        }
                    },
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Search keyword",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Search keyword"
                        }
                    },
                    {
                        "name": "modifiedBy",
                        "in": "query",
                        "description": "ID of the last modifier",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "ID of the last modifier",
                            "example": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "lastModifiedDate",
                        "in": "query",
                        "description": "Last modification date",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modification date"
                        },
                        "example": "2024-10-12 00:00:00"
                    },
                    {
                        "name": "filters[0].key",
                        "in": "query",
                        "description": "Customize the filter parameter name. Note: The parameter name must be a whitelist parameter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filters[0].op",
                        "in": "query",
                        "description": "Customize the filter condition (EQUAL, NOT_EQUAL, GREATER_THAN, etc.)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "GREATER_THAN",
                                "LESS_THAN",
                                "GREATER_THAN_EQUAL",
                                "LESS_THAN_EQUAL",
                                "EQUAL",
                                "NOT_EQUAL",
                                "MATCH",
                                "MATCH_END",
                                "NOT_MATCH",
                                "NOT_MATCH_END",
                                "IN",
                                "NOT_IN",
                                "IS_NULL",
                                "IS_NOT_NULL"
                            ]
                        }
                    },
                    {
                        "name": "filters[0].value",
                        "in": "query",
                        "description": "Customize the filter value",
                        "schema": {}
                    },
                    {
                        "name": "filters[1].key",
                        "in": "query",
                        "description": "Customize the filter parameter name. Note: The parameter name must be a whitelist parameter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filters[1].op",
                        "in": "query",
                        "description": "Customize the filter condition (EQUAL, NOT_EQUAL, GREATER_THAN, etc.)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "GREATER_THAN",
                                "LESS_THAN",
                                "GREATER_THAN_EQUAL",
                                "LESS_THAN_EQUAL",
                                "EQUAL",
                                "NOT_EQUAL",
                                "MATCH",
                                "MATCH_END",
                                "NOT_MATCH",
                                "NOT_MATCH_END",
                                "IN",
                                "NOT_IN",
                                "IS_NULL",
                                "IS_NOT_NULL"
                            ]
                        }
                    },
                    {
                        "name": "filters[1].value",
                        "in": "query",
                        "description": "Customize the filter value",
                        "schema": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultPageResultWorkflowListVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Workflow"
                ],
                "summary": "创建工作流",
                "description": "创建新工作流",
                "operationId": "createWorkflow",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkflowCreateDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "工作流创建成功",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultWorkflowDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/workflows/{id}/stop": {
            "post": {
                "tags": [
                    "Workflow"
                ],
                "summary": "停止工作流运行",
                "description": "停止工作流运行",
                "operationId": "stopWorkflow",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "工作流ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultWorkflowDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/workflows/{id}/start": {
            "post": {
                "tags": [
                    "Workflow"
                ],
                "summary": "运行工作流",
                "description": "运行工作流",
                "operationId": "startWorkflow",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "工作流ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultWorkflowDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/workflows/{id}/execute": {
            "post": {
                "tags": [
                    "Workflow"
                ],
                "summary": "执行工作流",
                "description": "手动执行或调试工作流",
                "operationId": "executeWorkflow",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "工作流ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkflowExecuteDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "执行成功",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/sharing/resources": {
            "get": {
                "tags": [
                    "Resource Sharing"
                ],
                "summary": "获取共享资源列表",
                "description": "获取当前用户可访问的共享资源列表",
                "operationId": "getResourceSharingList",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "共享ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "共享ID"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "资源类型筛选",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "资源类型筛选",
                            "enum": [
                                "APPLICATION",
                                "WORKFLOW",
                                "DATASET",
                                "KNOWLEDGE",
                                "PLUGIN",
                                "MODEL"
                            ]
                        }
                    },
                    {
                        "name": "permission",
                        "in": "query",
                        "description": "权限筛选",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "权限筛选",
                            "enum": [
                                "VIEW",
                                "EDIT",
                                "MANAGE"
                            ]
                        }
                    },
                    {
                        "name": "sharedWith",
                        "in": "query",
                        "description": "共享范围筛选",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "共享范围筛选",
                            "enum": [
                                "ALL",
                                "SPECIFIC"
                            ]
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "query",
                        "description": "所属租户ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "所属租户ID",
                            "example": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "createdBy",
                        "in": "query",
                        "description": "创建人ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "创建人ID",
                            "example": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "createdDate",
                        "in": "query",
                        "description": "创建时间",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "description": "创建时间"
                        },
                        "example": "2024-10-12 00:00:00"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "排序字段",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "排序字段",
                            "enum": [
                                "id",
                                "type",
                                "permission",
                                "sharedWith",
                                "createdDate"
                            ]
                        }
                    },
                    {
                        "name": "pageNo",
                        "in": "query",
                        "description": "Page number for paginated data (default: 1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Page number for paginated data (default: 1)",
                            "maximum": 100000,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of items per page (default: 10)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of items per page (default: 10)",
                            "maximum": 2000,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "orderSort",
                        "in": "query",
                        "description": "Specifies the direction of the sorting (ascending or descending)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Specifies the direction of the sorting (ascending or descending)",
                            "enum": [
                                "ASC",
                                "DESC"
                            ]
                        }
                    },
                    {
                        "name": "infoScope",
                        "in": "query",
                        "description": "Scope of information to query (BASIC or DETAIL). Interface performance optimization parameters, only valid for some interfaces",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Scope of information to query (BASIC or DETAIL). Interface performance optimization parameters, only valid for some interfaces",
                            "enum": [
                                "BASIC",
                                "DETAIL"
                            ]
                        }
                    },
                    {
                        "name": "fullTextSearch",
                        "in": "query",
                        "description": "Whether to use full-text search (default: false, uses DB index search if false)",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "Whether to use full-text search (default: false, uses DB index search if false)"
                        }
                    },
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Search keyword",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Search keyword"
                        }
                    },
                    {
                        "name": "modifiedBy",
                        "in": "query",
                        "description": "ID of the last modifier",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "ID of the last modifier",
                            "example": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "lastModifiedDate",
                        "in": "query",
                        "description": "Last modification date",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modification date"
                        },
                        "example": "2024-10-12 00:00:00"
                    },
                    {
                        "name": "filters[0].key",
                        "in": "query",
                        "description": "Customize the filter parameter name. Note: The parameter name must be a whitelist parameter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filters[0].op",
                        "in": "query",
                        "description": "Customize the filter condition (EQUAL, NOT_EQUAL, GREATER_THAN, etc.)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "GREATER_THAN",
                                "LESS_THAN",
                                "GREATER_THAN_EQUAL",
                                "LESS_THAN_EQUAL",
                                "EQUAL",
                                "NOT_EQUAL",
                                "MATCH",
                                "MATCH_END",
                                "NOT_MATCH",
                                "NOT_MATCH_END",
                                "IN",
                                "NOT_IN",
                                "IS_NULL",
                                "IS_NOT_NULL"
                            ]
                        }
                    },
                    {
                        "name": "filters[0].value",
                        "in": "query",
                        "description": "Customize the filter value",
                        "schema": {}
                    },
                    {
                        "name": "filters[1].key",
                        "in": "query",
                        "description": "Customize the filter parameter name. Note: The parameter name must be a whitelist parameter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filters[1].op",
                        "in": "query",
                        "description": "Customize the filter condition (EQUAL, NOT_EQUAL, GREATER_THAN, etc.)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "GREATER_THAN",
                                "LESS_THAN",
                                "GREATER_THAN_EQUAL",
                                "LESS_THAN_EQUAL",
                                "EQUAL",
                                "NOT_EQUAL",
                                "MATCH",
                                "MATCH_END",
                                "NOT_MATCH",
                                "NOT_MATCH_END",
                                "IN",
                                "NOT_IN",
                                "IS_NULL",
                                "IS_NOT_NULL"
                            ]
                        }
                    },
                    {
                        "name": "filters[1].value",
                        "in": "query",
                        "description": "Customize the filter value",
                        "schema": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultPageResultResourceSharingListVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Resource Sharing"
                ],
                "summary": "创建资源共享",
                "description": "创建新的资源共享",
                "operationId": "createResourceSharing",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResourceSharingCreateDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "共享创建成功",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultResourceSharingDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/settings/api-keys": {
            "get": {
                "tags": [
                    "API Keys"
                ],
                "summary": "获取API密钥列表",
                "description": "获取API密钥列表",
                "operationId": "listApiKeys",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultListApiKeyListVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "API Keys"
                ],
                "summary": "创建API密钥",
                "description": "创建新的API密钥，支持设置权限、资源授权、速率限制等",
                "operationId": "createApiKey",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiKeyCreateDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "API密钥创建成功",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultApiKeyDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/settings/api-keys/{id}/revoke": {
            "post": {
                "tags": [
                    "API Keys"
                ],
                "summary": "吊销API密钥",
                "description": "吊销API密钥，密钥将被禁用且无法再次启用",
                "operationId": "revokeApiKey",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "API密钥ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiKeyRevokeDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "吊销成功"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/prompts": {
            "get": {
                "tags": [
                    "Prompt"
                ],
                "summary": "获取提示词列表",
                "description": "获取当前用户的提示词列表，支持分页、搜索和筛选",
                "operationId": "getPromptList",
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "提示词标题",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "提示词标题"
                        }
                    },
                    {
                        "name": "categoryId",
                        "in": "query",
                        "description": "分类ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "分类ID"
                        }
                    },
                    {
                        "name": "isFavorite",
                        "in": "query",
                        "description": "是否收藏",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "是否收藏"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "query",
                        "description": "所属租户ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "所属租户ID",
                            "example": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "createdBy",
                        "in": "query",
                        "description": "创建人ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "创建人ID",
                            "example": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "createdDate",
                        "in": "query",
                        "description": "创建时间",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "description": "创建时间"
                        },
                        "example": "2024-10-12 00:00:00"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "排序字段",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "排序字段",
                            "enum": [
                                "id",
                                "createdDate",
                                "name",
                                "size"
                            ]
                        }
                    },
                    {
                        "name": "pageNo",
                        "in": "query",
                        "description": "Page number for paginated data (default: 1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Page number for paginated data (default: 1)",
                            "maximum": 100000,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of items per page (default: 10)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of items per page (default: 10)",
                            "maximum": 2000,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "orderSort",
                        "in": "query",
                        "description": "Specifies the direction of the sorting (ascending or descending)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Specifies the direction of the sorting (ascending or descending)",
                            "enum": [
                                "ASC",
                                "DESC"
                            ]
                        }
                    },
                    {
                        "name": "infoScope",
                        "in": "query",
                        "description": "Scope of information to query (BASIC or DETAIL). Interface performance optimization parameters, only valid for some interfaces",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Scope of information to query (BASIC or DETAIL). Interface performance optimization parameters, only valid for some interfaces",
                            "enum": [
                                "BASIC",
                                "DETAIL"
                            ]
                        }
                    },
                    {
                        "name": "fullTextSearch",
                        "in": "query",
                        "description": "Whether to use full-text search (default: false, uses DB index search if false)",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "Whether to use full-text search (default: false, uses DB index search if false)"
                        }
                    },
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Search keyword",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Search keyword"
                        }
                    },
                    {
                        "name": "modifiedBy",
                        "in": "query",
                        "description": "ID of the last modifier",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "ID of the last modifier",
                            "example": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "lastModifiedDate",
                        "in": "query",
                        "description": "Last modification date",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modification date"
                        },
                        "example": "2024-10-12 00:00:00"
                    },
                    {
                        "name": "filters[0].key",
                        "in": "query",
                        "description": "Customize the filter parameter name. Note: The parameter name must be a whitelist parameter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filters[0].op",
                        "in": "query",
                        "description": "Customize the filter condition (EQUAL, NOT_EQUAL, GREATER_THAN, etc.)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "GREATER_THAN",
                                "LESS_THAN",
                                "GREATER_THAN_EQUAL",
                                "LESS_THAN_EQUAL",
                                "EQUAL",
                                "NOT_EQUAL",
                                "MATCH",
                                "MATCH_END",
                                "NOT_MATCH",
                                "NOT_MATCH_END",
                                "IN",
                                "NOT_IN",
                                "IS_NULL",
                                "IS_NOT_NULL"
                            ]
                        }
                    },
                    {
                        "name": "filters[0].value",
                        "in": "query",
                        "description": "Customize the filter value",
                        "schema": {}
                    },
                    {
                        "name": "filters[1].key",
                        "in": "query",
                        "description": "Customize the filter parameter name. Note: The parameter name must be a whitelist parameter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filters[1].op",
                        "in": "query",
                        "description": "Customize the filter condition (EQUAL, NOT_EQUAL, GREATER_THAN, etc.)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "GREATER_THAN",
                                "LESS_THAN",
                                "GREATER_THAN_EQUAL",
                                "LESS_THAN_EQUAL",
                                "EQUAL",
                                "NOT_EQUAL",
                                "MATCH",
                                "MATCH_END",
                                "NOT_MATCH",
                                "NOT_MATCH_END",
                                "IN",
                                "NOT_IN",
                                "IS_NULL",
                                "IS_NOT_NULL"
                            ]
                        }
                    },
                    {
                        "name": "filters[1].value",
                        "in": "query",
                        "description": "Customize the filter value",
                        "schema": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultPageResultPromptListVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Prompt"
                ],
                "summary": "创建提示词",
                "description": "创建新提示词",
                "operationId": "createPrompt",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PromptCreateDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "提示词创建成功",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultPromptDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/prompts/{id}/use": {
            "post": {
                "tags": [
                    "Prompt"
                ],
                "summary": "使用提示词",
                "description": "标记提示词使用，增加使用计数",
                "operationId": "usePrompt",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "提示词ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLocaleResultPromptDetailVo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/prompts/{id}/favorite": {
            "post": {
                "tags": [
                    "Prompt"
                ],
                "summary": "收藏/取消收藏",
                "description": "收藏或取消收藏提示词",
                "operationId": "toggleFavoritePrompt",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "提示词ID",
                        "required": true,
                        "schema": {
[...]
